/* @keyframes blink {
    0% { color: #ffcc00; }  
    50% { color: #66ff66; } 
    100% { color: #ffcc00; } 
  } */
  /* Light Yellow */
  /* Light Green */
  /* Light Yellow */
  
  /* .blink-text {
    animation: blink 1s infinite;
    font-weight: bold;
  }
   */
  .welcome-card {
    border: 3px solid #66ff66; /* Light green border */
    border-radius: 15px;
    box-shadow: 0 0 20px #66ff66; /* Glowing effect */
    background-color: white;
  }